<!DOCTYPE html>
<html>
  <head>
    <title>Bookers22</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <% if user_signed_in? %>
            <div class="row">
              <ul class="nav navbar-nav navbar-right">
                <div class="col-sm-2">
                  <li>
                    <div class="glyphicon glyphicon-home home">
                      <%= link_to "Home", user_path(current_user.id) %>
                    </div>
                  </li>
                </div>
                <div class="col-sm-2">
                  <li>
                    <div class="glyphicon glyphicon-user users">
                      <%= link_to "Users", users_path %>
                    </div>
                  </li>
                </div>
                <div class="col-sm-2">
                  <li>
                    <div class="glyphicon glyphicon-book books">
                      <%= link_to "Books", books_path %>
                    </div>
                  </li>
                </div>
                <div class="col-sm-2">
                  <li>
                    <div class="glyphicon glyphicon-edit sign_up">
                      <%= link_to "logout", destroy_user_session_path,　method: :delete %>
                    </div>
                  </li>
                </div>
              </li>
            </ul>

            <% else %>

              <ul class="nav navbar navbar-right">
                <li>
                  <div class="col-sm-2">
                    <div class="glyphicon glyphicon-home home">
                      <%= link_to "Home", root_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-sm-2">
                    <div class="glyphicon glyphicon-link about">
                      <%= link_to "About", about_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-sm-2">
                    <div class="glyphicon glyphicon-edit sign_up">
                      <%= link_to "sign up", new_user_registration_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-sm-2">
                    <div class="glyphicon glyphicon-log-in sign_in">
                      <%= link_to "login", user_session_path %>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </nav>
      </div>
    </header>

  <div class="container">
    <%= flash[:notice] %>
  </div>

    <%= yield %>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
        </div>
    </footer>
  </body>
</html>

